<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [autoFocus]="false" [mode]="'side'" [opened]="true">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
</mat-sidenav-container>
<div class="w-full overflow-y-auto">
    <mat-toolbar>
        <app-breadcrumb></app-breadcrumb>
    </mat-toolbar>
    <app-header></app-header>
    <div class="p-4">
        @if(loading()){
        <app-loading></app-loading>
        }
        <router-outlet></router-outlet>
    </div>
</div>
