<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [autoFocus]="false" [mode]="'side'" [opened]="true">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
</mat-sidenav-container>
<div class="w-full overflow-y-auto">
    <mat-toolbar class="flex justify-between">
        <app-breadcrumb></app-breadcrumb>
        <div>
            <img (click)="swithLanguage()" src="../../../../../assets/images/flags/icon-{{translate.currentLang}}.png" style="width: 30px;height: auto;cursor: pointer;" alt="">
        </div>
    </mat-toolbar>
    <app-header></app-header>
    <div class="p-4">
        @if(loading()){
        <app-loading></app-loading>
        }
        <router-outlet></router-outlet>
    </div>
</div>
