<div class="flex  mt-6 gap-4">
    <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" [formControl]="searchControl" />
    </mat-form-field>
    <div class="flex ml-8">
        @for (item of avtList; track $index) {
        <div class="lift-avatar ">
            <img (click)="userChanged(item)" src="{{item.avatarUrl}}" class="shadow-outline-white avatar-container avatar hover:bg-blue-800 focus:ring-4"  >
        </div>

        }
    </div>
    <button mat-stroked-button (click)="myIssues()">Only My Issues</button>
    <button mat-stroked-button (click)="ignoreResolve()">Ignore Resolve</button>
    <button mat-stroked-button (click)="clearAll()">Clear All</button>
</div>
<div class="flex container mt-7"
     >
    <div class="board-dnd-list ml-2"
         *ngFor="let status of issueStatuses"
        >
        <div class="status-list">
            <div class="px-3 pb-4 pt-3 uppercase text-textMedium text-13 truncate">
                {{ IssueStatusDisplay[status] }}
                <span class="lowercase text-13">{{ getFilterIssues(status,issues)?.length }}</span>
            </div>
            <div class="h-full pl-2"
                 cdkDropList
                 [id]="status"
                 >
                <app-issue-card *ngFor="let issue of getFilterIssues(status,issues)"
                            [issue]="issue"
                            cdkDrag
                            >
                </app-issue-card>
            </div>
        </div>
    </div>
</div>