.lift-avatar {
    margin-left: -.25rem;
    display: flex;
    cursor: pointer;
    border-radius: 9999px;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .1s;
}
.avatar-container{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.avatar{
    width: 36px;
    height: 36px;
    border-radius: 100%;
}
.board-dnd-list {
    width: calc(100% / 4 - 8px);
    min-height: 400px;
    min-width: 200px;  
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb

  }