<mat-dialog-content>
  <div class="flex justify-between items-start">
    <div class="flex" style="flex-direction: column">

      <app-issue-type [data]="data"></app-issue-type>
    </div>

    <div class="flex gap-4">
      <button><mat-icon>delete</mat-icon></button>
      <button><mat-icon>fullscreen</mat-icon></button>
      <button (click)="closeDialog()"><mat-icon>close</mat-icon></button>
    </div>
  </div>

  <div class="grid grid-cols-3 mt-5 gap-4">
    <div class="col-span-2">
      <form [formGroup]="form" (submit)="updateDescription()">
        <textarea class="w-full textarea-inline-control" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
          formControlName="title" (blur)="updateTitle()" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>

        @if(clickAble === true){
        <angular-editor #element [placeholder]="'Enter text here...'" formControlName="description" [autofocus]="true"
          [config]="editorConfig"></angular-editor>
        <div class="mt-5 flex gap-4"><button type="submit" mat-flat-button color="primary">Save</button><button
            mat-button type="button" color="primary" (click)="clickAble = false">Cancel</button></div>
        }@else {
        <div [innerHTML]="data.description" (click)="clickAble = !clickAble"></div>
        }

      </form>
    </div>
    <div>
     <app-issue-status [data]="data"  [formData]="form"></app-issue-status>
      <app-issue-reporter [data]="data" [formData]="form"></app-issue-reporter>
      <app-issue-assign [data]="data" [formData]="form"></app-issue-assign>
      <app-issue-priority [priority]="this.data.priority" [formData]="form"
        (onFormGroupChange)="onChange($event)"></app-issue-priority>
    </div>
  </div>
</mat-dialog-content>