<div class="issue-wrap">
    <div class="issue">
        <p class="pb-3 text-15 text-textDarkest">
            {{ issue?.title }}
        </p>
        <div class="flex items-center justify-between">
            <div class="flex items-center ml-1">
                <div *ngFor="let user of assignees" [className]="'shadow-outline-white -ml-1'">
                    <div class="lift-avatar ">
                        <img src="{{user.avatarUrl}}" class="shadow-outline-white avatar-container avatar">
                    </div>
                </div>
                <span [class.ml-3]="assignees?.length" class="uppercase">
                    {{issue?.type}}-{{issue?.id}}
                </span>
            </div>
            <div class="flex items-center gap-2">
              <img [src]="issueTypeIcon" height="16" width="16" alt="">
              <img [src]="priorityIcon" height="16" width="16" alt="">

                <!-- <svg-icon [name]="priorityIcon.icon"
                          nz-tooltip
                          [nzTooltipMouseEnterDelay]="0.3"
                          [nzTooltipTitle]="priorityIcon.value"
                          nzTooltipPlacement="bottom"
                          [size]="20"
                          [style.color]="priorityIcon.color">
                </svg-icon> -->
            </div>         
        </div>
    </div>
</div>