/* You can add global styles to this file, and also import other style files */
// @config "./tailwindcss-config.js";
@import 'assets/settings/custom-mat-form-field';
@import '../node_modules/font-awesome/css/font-awesome.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.lift-avatar {
    margin-left: -.25rem;
    display: flex;
    cursor: pointer;
    border-radius: 9999px;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .1s;
}

.avatar-container {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 100%;

    &:hover {
        transform: translateY(-5px);
        transition: ease-out 0.2s;
        -webkit-transition: ease-out 0.2s;
    }
}


.board-dnd-list {
    width: calc(100% / 4 - 8px);
    min-height: 400px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    background-color: rgb(244 245 247)
}

.shadow-outline-white {
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 0 2px #fff;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 15px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    animation: slideInleft ease .3s, fadeOut linear 1s 3s;
    margin-top: 10px;

    .toast__icon {
        font-size: 24px;
        padding: 0 16px;
    }

    .toast__body {
        flex: 1;
        .toast__title {
            font-size: 16px;
            font-weight: 600;
            color: #333;
            text-transform: capitalize;
        }
        .toast__msg {
            font-size: 14px;
            color: #888;
            margin-top: 4px;
        }
    }

    .toast__close {
        padding: 0 16px;
        font-size: 20px;
        cursor: pointer;
    }
}

#toast {
    position: fixed;
    z-index: 1000;
}

@keyframes slideInleft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));

    }

    to {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes fadeOut {

    to {
        opacity: 0;
        transform: translateX(0);

    }
}